@import "~bootstrap/dist/css/bootstrap.min.css";

#card {
  height: 300px;
  width: 200px;
  border: 1px solid black;
  border-radius: 5%;
}

#card-header {
  height: 30%;
  display: flex;
}

#card-header p {
  font-size: 350%;
  font-family: "Times New Roman";
  display: flex;
  padding-left: 5%;
}

#card-body {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#card-body p {
  font-size: 450%;
  font-family: "Times New Roman";
  margin: auto;
}

#card-footer {
  height: 30%;
}

#card-footer p {
  height: 100%;
  font-size: 350%;
  font-family: "Times New Roman";
  display: flex;
  padding-left: 5%;
  rotate: 180deg;
}
